# Disable automatic text file normalization
* -text

# Use Git LFS for the specified .exe.deploy files
Application\ Files/EdufocalCertificateGenerator.exe.deploy filter=lfs diff=lfs merge=lfs -text